@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white font-sans;
}

html {
  scroll-behavior: smooth;
}

a {
  @apply transition;

}
/* globals.css atau styles.css */
html.light {
  /* tema light defaults, kalau perlu */
}

html.dark {
  /* theme dark defaults */
  background-color: #111;
  color: #eee;
}
html.dark body {
  background-color: #121212;
  color: #e0e0e0;
}


